Repository North-Seattle-College/ad440-winter2022-thursday-repo, pull requests merged in 2022-03, with the labels that each got.

#106 Feature - Style page frontend
  frontend/src/components/App/App.css
  frontend/src/components/App/App.js
  frontend/src/components/FeedbackBox/FeedbackBox.js
  frontend/src/components/InputBox/InputBox.js
  frontend/src/components/Logo/floop_logo.png
Labels: Frontend Team

#102 Update App.css
  frontend/src/components/App/App.css
Labels: Frontend Team

#104 Sentence Classification API
  backend/API/lambda_function.py
Labels: Backend Team

#68 nlp script to run in Sagemaker
  backend/scripts/nlp/emotions.txt
  backend/scripts/nlp/floop-conv-data.json
  backend/scripts/nlp/nltk-json.ipynb
Labels: Backend Team

#105 Enrich conversation data with sentiment/question/emotion metadata
  backend/scripts/emotions.txt
  backend/scripts/floop-conv-enrich.py
Labels: enhancement, Backend Team

#110 85 nwc sagemaker cleanup script
  devops/DeleteSagemakerStacks/deleteSagemakerStacks.py
Labels: DevOps Team

#111 Issue86-Cleaning the specific lambda function
  devops/DeployLambdaAutomation/lambdaFunctionDelete.py
Labels: DevOps Team

#113 Dynamo DB Clean up script #84
  devops/DeleteDynamoDBTables/deleteDynamoDBTable.py
Labels: DevOps Team

#107 Issue #44 GitHub action s3bucket
  .github/workflows/deployGithubActionS3bucket.yml
  devops/DeployCloudformationS3Bucket/StackTemplate.json
  devops/DeployCloudformationS3Bucket/deployStackS3Bucket.py
  floop-data-export.py
Labels: DevOps Team

#112 Split large text into sentences and words
  .gitignore
  backend/sentenceTokenizer.py
Labels: Backend Team

#133 Issue #92 Update the API to reply with definition from the Swagger
  backend/API/swagger_API.yaml
Labels: Backend Team

#140 added instructional md file
  frontend/resources/SSL Certification/Instructions.md
Labels: Frontend Team

#142 Script to clean All lambda resources
  devops/DeployLambdaAutomation/deleteAllLambdaResources.py
  devops/DeployLambdaAutomation/lambdaFunctionDelete.py
Labels: DevOps Team

#136 Issue 127 Clustering algorithm for comment metadata in Sagemaker
  backend/scripts/Feedback-clusters.ipynb
  backend/scripts/floop-conv-enrich.py
  backend/scripts/floop-data-export.py
  backend/scripts/floop-data-import.py
  floop_conv_data.json
Labels: Backend Team

#134 Test the React app for cross-site scripting (issue 132)
  devops/TestCrossSiteScripting/testCrossSiteScripting.py
Labels: DevOps Team

#144 Call the API with custom domain
  frontend/src/components/SubmitBtn/SubmitBtn.js
Labels: Frontend Team

#148 Created ErrorBox and checks for API response code
  frontend/src/components/App/App.css
  frontend/src/components/App/App.js
  frontend/src/components/ClearBtn/ClearBtn.js
  frontend/src/components/ErrorBox/ErrorBox.js
  frontend/src/components/FeedbackBox/FeedbackBox.js
  frontend/src/components/InputBox/InputBox.js
  frontend/src/components/ResponseBox/ResponseBox.js
  frontend/src/components/SubmitBtn/SubmitBtn.js
Labels: Frontend Team

#149 Fix to the `setAPIResponse()` hook
  frontend/src/components/SubmitBtn/SubmitBtn.js
Labels: bug

#137 Upgrade the dynamoDB tables clean up script to run without manual interference(issue 117)
  devops/DeleteDynamoDBTables/deleteDynamoDBTable.py
Labels: enhancement, DevOps Team

#138 sagemaker emotion model
  backend/scripts/nlp/emotions.ipynb
Labels: Backend Team

#139 DeletingAllS3BucketsIssue116.py
  devops/DeleteAllS3BucketsIssue116.py
Labels: DevOps Team

#169 demoThursdayLambda backend API
  backend/README.md
  backend/lambda/tokenize/lambda_function.py
  backend/lambda/tokenize/tokenizer.py
  backend/scripts/tokenize_local/sentenceTokenizer.py
Labels: Backend Team

#172 Changed new URL to show the API output in Feedback Box
  frontend/src/components/App/App.js
  frontend/src/components/FeedbackBox/FeedbackBox.js
  frontend/src/components/ResponseBox/ResponseBox.js
  frontend/src/components/SubmitBtn/SubmitBtn.js
Labels: Frontend Team

#145 Conversation Length Clustering
  backend/scripts/kmeans_length.py
  backend/scripts/test_data.json
Labels: Backend Team

#174 Replaced URL in SubmitBtn.js file
  frontend/src/components/SubmitBtn/SubmitBtn.js
Labels: Frontend Team
