Repository North-Seattle-College/ad440-winter2022-thursday-repo, pull requests merged in 2022-02, with the labels that each got.

#32 Levenshtein-Hierarchical Cluster Algorithm
  frontend/scripts/cluster-algorithm/Levenshtein-hierarchy.py
  frontend/scripts/cluster-algorithm/test-teacher-comments.json
Labels: Frontend Team

#34 adding wireframe
  frontend/resources/wireframes/Feedback Web App Wire Frame.jpeg
  frontend/resources/wireframes/Feedback Web App Wire Frame.pptx
Labels: Frontend Team

#31 Import data in dynamodb
  floop-data-import.py
Labels: Backend Team

#36 Develop automation script (boto3 + CloudFormation) to create Dynamo database #5
  DevOps/DynamoDBAutomation/createDynamoDB.json
  DevOps/DynamoDBAutomation/dynamoDBbuilder.py
Labels: DevOps Team

#37 Develop automation script to create the service that will host the ML model
  devops/Create_Sagemaker_NBI/create_sagemaker_nbi.py
  devops/Create_Sagemaker_NBI/sagemaker_nbi.json
Labels: DevOps Team

#38 Added automation script that will run the cloud formation template an…
  DevOps/LambdaAutomation/AutomationScriptLambda.sh
  DevOps/LambdaAutomation/CloudFormationLambdaTemplate.json
Labels: DevOps Team

#35 Simplify Swagger API
  backend/API/API_Doc.md
  backend/API/swagger_API.yaml
Labels: Backend Team

#64 Rearrange 'devops' folder
  devops/DynamoDBAutomation/createDynamoDB.json
  devops/DynamoDBAutomation/dynamoDBbuilder.py
  devops/LambdaAutomation/AutomationScriptLambda.sh
  devops/LambdaAutomation/CloudFormationLambdaTemplate.json
Labels: documentation, DevOps Team

#72 Added changes to InputBox.js & InputBox.css
  frontend/src/components/InputBox/InputBox.css
  frontend/src/components/InputBox/InputBox.js
Labels: Frontend Team

#61 add options method to ping api
  backend/lambda/simplePing/index.js
Labels: Backend Team

#78 Feature/feedback box
  frontend/src/components/App/App.js
  frontend/src/components/ClearBtn/ClearBtn.js
  frontend/src/components/FeedbackBox/FeedbackBox.js
  frontend/src/components/InputBox/InputBox.js
  frontend/src/components/SubmitBtn/SubmitBtn.js
Labels: Frontend Team

#60 Further Simplification API
  backend/API/swagger_API.yaml
Labels: Backend Team

#77 Updates export script with CL arguments and auto-export to s3
  floop-data-export.py
Labels: enhancement, Backend Team

#79 Frontend UI Maintenance
  frontend/src/components/App/App.css
  frontend/src/components/App/App.js
  frontend/src/components/ClearBtn/ClearBtn.css
  frontend/src/components/ClearBtn/ClearBtn.js
  frontend/src/components/DemoComponent/DemoSubmitBtn.css
  frontend/src/components/DemoComponent/DemoSubmitBtn.js
  frontend/src/components/ErrorBox/ErronBox.css
  frontend/src/components/ErrorBox/ErrorBox.js
  frontend/src/components/FeedbackBox/Feedback.css
  frontend/src/components/FeedbackBox/FeedbackBox.js
  frontend/src/components/InputBox/InputBox.css
  frontend/src/components/InputBox/InputBox.js
  frontend/src/components/SubmitBtn/SubmitBtn.css
  frontend/src/components/SubmitBtn/SubmitBtn.js
  frontend/src/index.js
Labels: enhancement, Frontend Team

#62 Machine Learning Model for Classifying Sentences
  backend/classification.py
  backend/sample.txt
Labels: Backend Team

#63 updated DynamoDB automation script to accept parameters through cmd line arguments
  devops/DeployDynamoDB/deployDynamoDB.py
  devops/DeployDynamoDB/dynamoDBStackTemplate.json
Labels: enhancement, DevOps Team

#81 42 sagemaker automation script improvements
  devops/Create_Sagemaker_NBI/create_sagemaker_nbi.py
  devops/Create_Sagemaker_NBI/sagemaker_nbi.json
  devops/DeploySagemakerNBI/deploySagemakerNBI.py
  devops/DeploySagemakerNBI/sagemakerStackTemplate.json
Labels: DevOps Team

#80 Commits deployStackS3Bucket.py and stackTemplate.json files
  devops/DeployCloudformationS3Bucket/StackTemplate.json
  devops/DeployCloudformationS3Bucket/deployStackS3Bucket.py
  devops/Deploy_Cloudformation_S3Bucket/Deploy_Stack_S3Bucket.py
Labels: enhancement, DevOps Team

#82 Issue43 create lambda parameters
  devops/DeployLambdaAutomation/automationScriptLambda.sh
  devops/DeployLambdaAutomation/cloudFormationLambdaTemplate.yml
  devops/LambdaAutomation/AutomationScriptLambda.sh
  devops/LambdaAutomation/CloudFormationLambdaTemplate.json
Labels: DevOps Team

#66 Issue#59 export n conversations
  .gitignore
  floop-data-export.py
  floop_conv_data.json
Labels: Backend Team

#100 Post Request for submit button to call API
  frontend/src/components/App/App.css
  frontend/src/components/SubmitBtn/SubmitBtn.js
Labels: Frontend Team

#101 Style the Clear and Submit buttons
  frontend/src/components/App/App.css
  frontend/src/components/App/App.js
Labels: Frontend Team
