Repository North-Seattle-College/ad440-winter2022-thursday-repo, pull requests merged in 2022-01, with the labels that each got.

#22 Create folder for Backend
  backend/README.md
Labels: Backend Team

#20 add frontend folder and initial react files
  README.md
  frontend/.gitignore
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/index.js
Labels: Frontend Team

#19 Script to extract Floop Firestore teacher comments
  floop-data-export.py
Labels: enhancement, Backend Team

#26 Swagger API
  backend/API/API_Doc.md
  backend/API/swagger_API.yaml
Labels: Backend Team

#28 Implement simple POST API deployed on AWS
  backend/lambda/simplePing/index.js
Labels: enhancement, Backend Team

#29 Dev ops team
  DevOps/Bikash_Thapa/Documentation
  DevOps/Dagmawi_Demissie/Documentation
  DevOps/Joette Damo/Documentation
  DevOps/Jonathan_Kindle/Documentation
  DevOps/Michael_Glanz/Documentation
  DevOps/Nathaniel_Ceres/Documentation
  DevOps/README.md
  DevOps/Requirements for folder
Labels: DevOps Team

#25 Adding NLP algorithm for issue #16
  frontend/scripts/nlp-algorithm/NLP.py
  frontend/scripts/nlp-algorithm/emotions.txt
  frontend/scripts/nlp-algorithm/feedback-test.json
  frontend/scripts/nlp-algorithm/graph.png
  frontend/scripts/nlp-algorithm/requirements.txt
Labels: Frontend Team

#27 Added HTTP request
  frontend/src/App.js
  frontend/src/components/MockGetRequest.js
  frontend/src/components/MockPostRequest.js
Labels: Frontend Team

#30 Issue #13 deploy cloudformation s3 bucket
  backend/lambda/simplePing/index.js
  devops/Deploy_Cloudformation_S3Bucket/Deploy_Stack_S3Bucket.py
  devops/Deploy_Cloudformation_S3Bucket/StackTemplate.json
Labels: DevOps Team
